@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        //
        var options2 = {
            series: [],
            chart: {
                type: 'bar',
                height: 450,
                toolbar: {
                    show: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: true
            },
            xaxis: {
                categories: [
                    '1월',
                    '2월',
                    '3월',
                    '4월',
                    '5월',
                    '6월',
                    '7월',
                    '8월',
                    '9월',
                    '10월',
                    '11월',
                    '12월'
                ],
            },
            grid: {
                xaxis: {
                    lines: {
                        show: true
                    }
                }
            },
            yaxis: {
                reversed: false,
                axisTicks: {
                    show: true
                }
            },
            noData: {
                text: 'Loading...'
            }
        };
        chart = new ApexCharts(document.querySelector("#chart2"), options2);
        chart.render();
        //
        GetLicenseTotalInfo();
        GetLicenseEventInfo();
        GetBindYear();
        GetNoticeInfo();
        //
        $("#selYear").change(function () {
            var year = $("#selYear option:selected").val();
            GetBarChart(year);
        });
        //
        $('#tblNotice').DataTable({
            "lengthChange": false,
            "bInfo": false,
            pageLength: 7,
            order: [[0, 'asc']]
        });
    });

    function GetLicenseTotalInfo() {
        $.ajax({
            type: "POST",
            url: "/LicenseV1/GetLicenseTotalInfo",
            async: "true",
            success: function (rdata) {
                var items = rdata.items[0];

                //#1. 전체현황
                $('#dbCreateCnt').html(items.createCnt);
                $('#dbRegisterCnt').html(items.registerCnt);
                $('#dbNonRegisterCnt').html(items.nonRegisterCnt);
                $('#dbEnabledCnt').html(items.enabledCnt);

                //#2.파이차트
                $('#enabledPer').html(items.enabledPer + '% (' + items.enabledCnt + ')');
                $('#disabledPer').html(items.disabledPer + '% (' + items.nonRegisterCnt + ')');
                GetPieChart(items.enabledPer / 100);
            }
        });
    }

    function GetLicenseEventInfo() {
        $.ajax({
            type: "POST",
            url: "/LicenseV1/GetLicenseEventInfo",
            async: "true",
            success: function (rdata) {
                var items = rdata.items;
                var len = items.length;
                var str = '';

                for (var i = 0; i < len; i++) {
                    str += '    <div class="m-0">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ';
                    str += '              <div class="timeline ms-n1">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ';
                    str += '                  <div class="timeline-item align-items-center mb-4">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ';
                    str += '                      <div class="timeline-line w-20px mt-9 mb-n14"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ';
                    str += '                      <div class="timeline-icon pt-1" style="margin-left: 0.7px">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                          <span class="svg-icon svg-icon-2 svg-icon-success">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ';
                    str += '                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ';
                    str += '                                  <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM6.39999 9.89999C6.99999 8.19999 8.40001 6.9 10.1 6.4C10.6 6.2 10.9 5.7 10.7 5.1C10.5 4.6 9.99999 4.3 9.39999 4.5C7.09999 5.3 5.29999 7 4.39999 9.2C4.19999 9.7 4.5 10.3 5 10.5C5.1 10.5 5.19999 10.6 5.39999 10.6C5.89999 10.5 6.19999 10.2 6.39999 9.89999ZM14.8 19.5C17 18.7 18.8 16.9 19.6 14.7C19.8 14.2 19.5 13.6 19 13.4C18.5 13.2 17.9 13.5 17.7 14C17.1 15.7 15.8 17 14.1 17.6C13.6 17.8 13.3 18.4 13.5 18.9C13.6 19.3 14 19.6 14.4 19.6C14.5 19.6 14.6 19.6 14.8 19.5Z" fill="currentColor"></path>                ';
                    str += '                                  <path d="M16 12C16 14.2 14.2 16 12 16C9.8 16 8 14.2 8 12C8 9.8 9.8 8 12 8C14.2 8 16 9.8 16 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" fill="currentColor"></path>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ';
                    str += '                              </svg>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ';
                    str += '                          </span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ';
                    str += '                      <div class="timeline-content m-0">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '                          <span class="fs-8 fw-bolder text-success text-uppercase">Sender</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ';
                    str += '                          <a href="#" class="fs-6 text-gray-800 fw-bold d-block text-hover-primary"> ' + items[i].userName + ' <div class="badge badge-light fw-bold"> ' + items[i].programName + ' </div>     </a>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ';
                    str += '                          <span class="fw-semibold text-gray-400">라이선스 신규 생성 (' + items[i].issuedDate.substring(0, 10) + ')</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ';
                    str += '                  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '                  <div class="timeline-item align-items-center">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ';
                    str += '                      <!--begin::Timeline line-->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                      <div class="timeline-line w-20px"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ';
                    str += '                      <!--end::Timeline line-->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ';
                    str += '                      <!--begin::Timeline icon-->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                      <div class="timeline-icon pt-1" style="margin-left: 0.5px">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                          <!--begin::Svg Icon | path: icons/duotune/general/gen018.svg-->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ';
                    str += '                          <span class="svg-icon svg-icon-2 svg-icon-info">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ';
                    str += '                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ';
                    str += '                                  <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor"></path>                                                                                                                                                                                                                                                                                                                                                                                   ';
                    str += '                                  <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor"></path>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ';
                    str += '                              </svg>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ';
                    str += '                          </span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ';
                    str += '                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ';
                    str += '                      <div class="timeline-content m-0">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '                          <span class="fs-8 fw-bolder text-info text-uppercase">Receiver</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ';
                    str += '                          <a href="#" class="fs-6 text-gray-800 fw-bold d-block text-hover-primary">' + items[i].companyName + '</a>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ';

                    if (items[i].isAccess) {
                        if (items[i].recycleCount == 1)
                            str += '                         <span class="fw-semibold text-gray-400">라이선스 <span style="color:#6ead6e;font-weight: 700;">신규 등록완료</span> (' + items[i].registerDate.substring(0, 10) + ')</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ';
                        else
                            str += '                         <span class="fw-semibold text-gray-400">라이선스 <span style="color:#e79c13;font-weight: 700;">재등록</span> (' + items[i].registerDate.substring(0, 10) + ')</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ';
                    }
                    else
                        str += '                          <span class="fw-semibold text-gray-400">라이선스 <span style="color:#ed2424;font-weight: 700;">미등록</span> </span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ';

                    str += '                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ';
                    str += '                  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '              </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ';
                    str += '          </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ';
                    str += '          <div class="separator separator-dashed mt-5 mb-4"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ';
                }

                $('#kt_list_widget_16_tab_1').empty().append(str);

            }
        });
    }

    function GetPieChart(val) {
        var e = document.getElementById("abc");
        if (e) {
            var t = {
                size: e.getAttribute("data-kt-size")
                    ? parseInt(e.getAttribute("data-kt-size"))
                    : 70,
                lineWidth: e.getAttribute("data-kt-line")
                    ? parseInt(e.getAttribute("data-kt-line"))
                    : 30,
                rotate: e.getAttribute("data-kt-rotate")
                    ? parseInt(e.getAttribute("data-kt-rotate"))
                    : 0
            },
                a = document.createElement("canvas"),
                l = document.createElement("span");
            "undefined" != typeof G_vmlCanvasManager && G_vmlCanvasManager.initElement(a);
            var r = a.getContext("2d");
            a.width = a.height = t.size,
                e.appendChild(l),
                e.appendChild(a),
                r.translate(t.size / 2, t.size / 2),
                r.rotate((t.rotate / 180 - .5) * Math.PI);
            var o = (t.size - t.lineWidth) / 2,
                i = function (e, t, a) {
                    a = Math.min(Math.max(0, a || 1), 1),
                        r.beginPath(),
                        r.arc(0, 0, o, 0, 2 * Math.PI * a, !1),
                        r.strokeStyle = e,
                        r.lineCap = "round",
                        r.lineWidth = t,
                        r.stroke()
                };
            i("#E4E6EF", t.lineWidth, 1),
                i(KTUtil.getCssVariableValue("--kt-primary"), t.lineWidth, 1),
                i(KTUtil.getCssVariableValue("--kt-success"), t.lineWidth, val)
        }
    }

    function GetBarChart(year) {
        $.ajax({
            type: "POST",
            url: "/LicenseV1/GetLicenseRegisterMonth",
            data: {
                year: year
            },
            async: "true",
            success: function (rdata) {
                var items = rdata.items;
                var total = rdata.total;

                //
                $('#totalRegisterCnt').html(total);
                //
                chart.updateSeries([{
                    data: items
                }]);
            }
        });
    }

    function GetBindYear() {
        var str = '';

        var now = new Date();
        var year = now.getFullYear();
        var yearPastM4 = year - 4;

        for (var i = year; i > yearPastM4; i--) {
            if (i == year) {
                str += '<option value="' + i + ' "  id="selYear' + i + '" selected="selected">' + i + '</option> ';
            }
            else {
                str += '<option value="' + i + ' "  id="selYear' + i + '" >' + i + '</option> ';
            }
        }
        $('#selYear').empty().append(str);

        GetBarChart(year);
    }




    function GetNoticeInfo() {
        $.ajax({
            type: "GET",
            url: "/NoticeV1/Index",
            async: "true",
            success: function (rdata) {
                var items = rdata.items;
                var len = items.length;
                var str = '';

                var table = $('#tblNotice').DataTable();
                table.destroy();

                for (var i = 0; i < len; i++) {
                    str += ' <tr>   ';

                    str += ' <td style="min-width: 50px !important; text-align:center;padding-right: 28px;">                                            ';
                    str += (items[i].isFixed ? '<span class="ms-1" data-bs-toggle="tooltip" data-kt-initialized="1"> <span class="svg-icon svg-icon-warning svg-icon-1"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect> <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect> <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect> </svg> </span></span >' : items[i].id);
                    str += ' </td>                                                                              ';

                    str += ' <td style="min-width: 180px !important;">                                          ';
                    str += items[i].title;
                    str += ' </td>                                                                              ';

                    str += ' <td style="min-width: 80px !important;">                                           ';
                    str += items[i].users.name;
                    str += ' </td>                                                                              ';

                    str += ' <td style="min-width: 150px !important;">                                          ';
                    str += dateFormat(items[i].createdDate);
                    str += ' </td>                                                                              ';

                    str += '  <td class="text-end">                                                                                                                                                                                                                                                                                                                                                                                           ';
                    str += '      <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">                                                                                                                                                                                                                                                                         ';
                    str += '         Actions                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '         <span class="svg-icon svg-icon-5 m-0">                                                                                                                                                                                                                                                                                                                                                                   ';
                    str += '             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                                                                                                                                                                                                                                                                                      ';
                    str += '                 <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />  ';
                    str += '             </svg>                                                                                                                                                                                                                                                                                                                                                                                               ';
                    str += '         </span>                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '      </a>                                                                                                                                                                                                                                                                                                                                                                                                        ';
                    str += '      <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">                                                                                                                                                                                                                                          ';
                    str += '          <div class="menu-item px-3">                                                                                                                                                                                                                                                                                                                                                                            ';
                    str += '             <a href="#" class="menu-link px-3" onclick="OpenUpdateModal(\'' + items[i].id + '\', \'' + items[i].createdDate + '\', \'' + items[i].title + '\', \'' + items[i].contents + '\', \'' + items[i].isFixed + '\', \'' + (items[i].remark == null ? '' : items[i].remark.replace(/(\n|\r\n)/g, '<br>')) + '\')">조회 및 수정</a>                                                                                                                                                                                                                                                                                                        ';
                    str += '          </div>                                                                                                                                                                                                                                                                                                                                                                                                  ';
                    str += '          <div class="menu-item px-3">                                                                                                                                                                                                                                                                                                                                                                            ';
                    str += '             <a href="#" class="menu-link px-3" onclick="Delete(\'' + items[i].id + '\')">삭제</a>  ';
                    str += '          </div>                                                                                    ';
                    str += '     </div>                                                                                         ';
                    str += '  </td>                                                                                             ';

                    str += ' </tr>  ';
                }

                $('.tbodyNotice').empty().append(str);

                $('#tblNotice').DataTable({
                    ordering: false, 
                    order: [],
                    "lengthChange": false,
                    "bInfo": false,
                    pageLength: 5,
                    
                });

                $('.sorting_asc').removeClass('sorting_asc');

                KTMenu.createInstances();
            }
        });
    }

    function Create() {
        var id = $('#hdnNoticeId').val();

        if ($('#txtTitle').val().trim() == '') {
            alert('제목을 입력하세요.');
            return false;
        }

        var url = "/NoticeV1/Create";
        var data = {
            Title: $('#txtTitle').val(),
            Contents: $('#txtContents').val().replaceAll('\n', '<br>'),
            IsFixed: $('#allowFixed').is(':checked')
        };

        if (id != 0) {
            url = "/NoticeV1/Update";
            data = {
                Id: id,
                Title: $('#txtTitle').val(),
                Contents: $('#txtContents').val().replaceAll('\n', '<br>'),
                IsFixed: $('#allowFixed').is(':checked')
            };
        }

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            async: "true",
            success: function (rdata) {
                GetNoticeInfo();
                $('#hdnNoticeId').val(0);
                $('#NoticeModal').modal('hide');
            }
        });
    }

    function OpenCreateModal() {
        var now = new Date();
        var date = now.getFullYear() + '-' + ct(now.getMonth() + 1) + '-' + ct(now.getDate());
        //
        $('#hdnNoticeId').val(0);
        //
        $('#allowFixed').prop('checked', false);
        $('#txtUserName').val('@ViewBag.name');
        $('#txtCreateDate').val(date);
        $('#txtTitle').val('');
        $('#txtContents').val('');
        //
        $('#NoticeModal').modal('toggle');
    }

    function OpenUpdateModal(id, createdDate, title, contents, isFixed, remark) {
        $('#hdnNoticeId').val(id);

        $('#txtUserName').val('@ViewBag.name');
        $('#txtCreateDate').val(createdDate.substring(0,10));
        $('#txtTitle').val(title);
        $('#txtContents').val(contents.replaceAll("<br>", "\r\n"));

        if (isFixed == 'false') {
            $('#allowFixed').prop('checked', false);
        }
        else {
            $('#allowFixed').prop('checked', true);
        }

        $('#NoticeModal').modal('toggle');
    }

    function Delete(noticeId) {

        var id = $('#hdnNoticeId').val();

        var rlt = confirm("삭제하시겠습니까?");

        if (rlt) {
            var url = "/NoticeV1/Delete";
            var data = {
                Id: noticeId
            };

            $.ajax({
                type: "GET",
                url: url,
                data: data,
                async: "true",
                success: function (rdata) {
                    GetNoticeInfo();
                }
            });
        }
    }






    function dateFormat(val) {
        return new Date(val).toISOString().replace('T', ' ').replace(/\..*/, '');;
    }

    function ct(val) {
        if (val < 10)
            return '0' + val;

        return val;
    }
</script>

<input type="hidden" id="hdnNoticeId" value="0" />

<div class="post" id="kt_post">

    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
        <!--begin::Col-->
        <div class="col-xl-6">
            <div class="card h-lg-100" style="background: linear-gradient(112.14deg, #2d71ed 0%, #22d5e9 100%);">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Row-->
                    <div class="row align-items-center">
                        <!--begin::Col-->
                        <div class="col-sm-7 pe-0 mb-5 mb-sm-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex h-100 flex-column pt-xl-5 pb-xl-2 ps-xl-7 row">
                                <!--begin::Container-->
                                <div class="mb-7">
                                    <!--begin::Title-->
                                    <div class="mb-6">
                                        <h3 class="fs-2x fw-semibold text-white" style="font-feature-settings: normal; font-size: 18px !important; font-weight: 600 !important;">라이선스 전체 현황</h3>
                                        <span class="fw-semibold text-white opacity-75">등록된 라이선스의 전체 현황 정보</span>
                                    </div>
                                    <!--end::Title-->
                                    <!--begin::Items-->
                                    <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                                        <div>
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-20 me-xl-6 mb-3">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
                                                        <span class="svg-icon svg-icon-4 svg-icon-white">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
                                                                <path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="../../demo5/dist/pages/user-profile/projects.html" class="text-white text-opacity-75 fs-8">라이선스 생성</a>
                                                    <span id="dbCreateCnt" class="fw-bold text-white fs-7 d-block">-</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-xl-6">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
                                                        <span class="svg-icon svg-icon-4 svg-icon-white">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor" />
                                                                <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="../../demo5/dist/apps/user-management/users/list.html" class="text-white text-opacity-75 fs-8">라이선스 활성화</a>
                                                    <span id="dbEnabledCnt" class="fw-bold text-white fs-7 d-block">-</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                        <div>
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-xl-6 mb-3">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
                                                        <span class="svg-icon svg-icon-4 svg-icon-white">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
                                                                <path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="../../demo5/dist/pages/user-profile/projects.html" class="text-white text-opacity-75 fs-8">등록수</a>
                                                    <span id="dbRegisterCnt" class="fw-bold text-white fs-7 d-block">-</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-xl-6">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
                                                        <span class="svg-icon svg-icon-4 svg-icon-white">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor" />
                                                                <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="../../demo5/dist/apps/user-management/users/list.html" class="text-white text-opacity-75 fs-8">미등록수</a>
                                                    <span id="dbNonRegisterCnt" class="fw-bold text-white fs-7 d-block">-</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Container-->
                                <!--begin::Action-->
                                <div class="m-0">
                                    <a class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold" asp-area="" asp-controller="LicenseV1" asp-action="Index">
                                        라이선스관리
                                    </a>
                                </div>
                                <!--begin::Action-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--begin::Col-->
                        <!--begin::Col-->
                        <div class="col-sm-5">
                            <!--begin::Illustration-->
                            <img src="assets/media/svg/illustrations/easy/7.svg" class="h-200px h-sm-200px h- h-lg-200px my-n6" alt="" />
                            <!--end::Illustration-->
                        </div>
                        <!--begin::Col-->
                    </div>
                    <!--begin::Row-->
                </div>
                <!--end::Body-->
            </div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6">
            <!--begin::Card widget 19-->
            <div class="card card-flush h-lg-100">
                <!--begin::Header-->
                <div class="card-header pt-5">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-dark">라이선스 등록현황</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6">라이선스 키 활성화 및 미등록 (%)</span>
                    </h3>
                    <!--end::Title-->
                </div>
                <!--end::Header-->
                <!--begin::Card body-->
                <div class="card-body d-flex align-items-end pt-6">
                    <!--begin::Row-->
                    <div class="row align-items-center mx-0 w-100">
                        <!--begin::Col-->
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 px-0">
                            <!--begin::Labels-->
                            <div class="d-flex flex-column content-justify-center">
                                <!--begin::Label-->
                                <div class="d-flex fs-6 fw-semibold align-items-center">
                                    <!--begin::Bullet-->
                                    <div class="bullet bg-success me-3" style="border-radius: 3px;width: 12px;height: 12px"></div>
                                    <!--end::Bullet-->
                                    <!--begin::Label-->
                                    <div class="fs-5 fw-bold text-gray-600 me-5">활성화 라이선스 키:</div>
                                    <!--end::Label-->
                                    <!--begin::Stats-->
                                    <div id="enabledPer" class="ms-auto fw-bolder text-gray-700 text-end">-</div>
                                    <!--end::Stats-->
                                </div>
                                <!--end::Label-->
                                <!--begin::Label-->
                                <div class="d-flex fs-6 fw-semibold align-items-center my-4">
                                    <!--begin::Bullet-->
                                    <div class="bullet bg-primary me-3" style="border-radius: 3px;width: 12px;height: 12px"></div>
                                    <!--end::Bullet-->
                                    <!--begin::Label-->
                                    <div class="fs-5 fw-bold text-gray-600 me-5">미등록 라이선스 키:</div>
                                    <!--end::Label-->
                                    <!--begin::Stats-->
                                    <div id="disabledPer" class="ms-auto fw-bolder text-gray-700 text-end">-</div>
                                    <!--end::Stats-->
                                </div>
                                <!--end::Label-->

                            </div>
                            <!--end::Labels-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 d-flex justify-content-end px-0">
                            <!--begin::Chart-->
                            <div id="abc" class="min-h-auto h-150px w-150px  d-none d-sm-block" data-kt-size="150" data-kt-line="25"></div>
                            <!--end::Chart-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card widget 19-->
        </div>
        <!--end::Col-->
    </div>

    <div class="row gy-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-xl-4 mb-xl-10">
            <!--begin::List widget 16-->
            <div class="card card-flush h-xl-100">
                <!--begin::Header-->
                <div class="card-header pt-7">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-800 mb-1">New Event</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6">최근 일주일내 이벤트 현황 정보</span>
                    </h3>
                    <!--end::Title-->
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-4 px-0">
                    <!--begin::Nav-->
                    <ul class="nav nav-pills nav-pills-custom item position-relative mx-9 mb-9" role="tablist">
                        <!--begin::Item-->
                        <li class="nav-item col-4 mx-0 p-0" role="presentation">
                            <!--begin::Link-->
                            <a class="nav-link active d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_16_tab_1" aria-selected="true" role="tab">
                                <!--begin::Subtitle-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">라이선스</span>
                                <!--end::Subtitle-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item col-4 mx-0 px-0" role="presentation">
                            <!--begin::Link-->
                            <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_16_tab_2" aria-selected="false" tabindex="-1" role="tab">
                                <!--begin::Subtitle-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">사용자</span>
                                <span class="text-warning" style="margin-left:5px">Yet</span>
                                <!--end::Subtitle-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item col-4 mx-0 px-0" role="presentation">
                            <!--begin::Link-->
                            <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_16_tab_3" aria-selected="false" tabindex="-1" role="tab">
                                <!--begin::Subtitle-->
                                <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">이슈</span>
                                <span class="text-warning" style="margin-left:5px">Yet</span>
                                <!--end::Subtitle-->
                                <!--begin::Bullet-->
                                <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                <!--end::Bullet-->
                            </a>
                            <!--end::Link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Bullet-->
                        <span class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded"></span>
                        <!--end::Bullet-->
                    </ul>
                    <!--end::Nav-->
                    <!--begin::Tab Content-->
                    <div class="tab-content px-9 hover-scroll-overlay-y pe-7 me-3 mb-2" style="height: 454px">
                        <!--begin::Tap pane-->
                        <div class="tab-pane fade show active" id="kt_list_widget_16_tab_1" role="tabpanel">

                            <!--<div class="m-0">-->
                            <!--begin::Timeline-->
                            <!--<div class="timeline ms-n1">-->
                            <!--begin::Timeline item-->
                            <!--<div class="timeline-item align-items-center mb-4">-->
                            <!--begin::Timeline line-->
                            <!--<div class="timeline-line w-20px mt-9 mb-n14"></div>-->
                            <!--end::Timeline line-->
                            <!--begin::Timeline icon-->
                            <!--<div class="timeline-icon pt-1" style="margin-left: 0.7px">-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen015.svg-->
                            <!--<span class="svg-icon svg-icon-2 svg-icon-success">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM6.39999 9.89999C6.99999 8.19999 8.40001 6.9 10.1 6.4C10.6 6.2 10.9 5.7 10.7 5.1C10.5 4.6 9.99999 4.3 9.39999 4.5C7.09999 5.3 5.29999 7 4.39999 9.2C4.19999 9.7 4.5 10.3 5 10.5C5.1 10.5 5.19999 10.6 5.39999 10.6C5.89999 10.5 6.19999 10.2 6.39999 9.89999ZM14.8 19.5C17 18.7 18.8 16.9 19.6 14.7C19.8 14.2 19.5 13.6 19 13.4C18.5 13.2 17.9 13.5 17.7 14C17.1 15.7 15.8 17 14.1 17.6C13.6 17.8 13.3 18.4 13.5 18.9C13.6 19.3 14 19.6 14.4 19.6C14.5 19.6 14.6 19.6 14.8 19.5Z" fill="currentColor"></path>
                                    <path d="M16 12C16 14.2 14.2 16 12 16C9.8 16 8 14.2 8 12C8 9.8 9.8 8 12 8C14.2 8 16 9.8 16 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" fill="currentColor"></path>
                                </svg>
                            </span>-->
                            <!--end::Svg Icon-->
                            <!--</div>-->
                            <!--end::Timeline icon-->
                            <!--begin::Timeline content-->
                            <!--<div class="timeline-content m-0">-->
                            <!--begin::Label-->
                            <!--<span class="fs-8 fw-bolder text-success text-uppercase">Sender</span>-->
                            <!--begin::Label-->
                            <!--begin::Title-->
                            <!--<a href="#" class="fs-6 text-gray-800 fw-bold d-block text-hover-primary">
                                관리자
                                <span id="dbIsAccess" class="badge badge-light me-auto" style="margin-left:8px;padding-bottom:2px">MES Lite</span>
                            </a>-->
                            <!--end::Title-->
                            <!--begin::Title-->
                            <!--<span class="fw-semibold text-gray-400">라이선스 신규 생성 (2022-08-22)</span>-->
                            <!--end::Title-->
                            <!--</div>-->
                            <!--end::Timeline content-->
                            <!--</div>-->
                            <!--end::Timeline item-->
                            <!--begin::Timeline item-->
                            <!--<div class="timeline-item align-items-center">-->
                            <!--begin::Timeline line-->
                            <!--<div class="timeline-line w-20px"></div>-->
                            <!--end::Timeline line-->
                            <!--begin::Timeline icon-->
                            <!--<div class="timeline-icon pt-1" style="margin-left: 0.5px">-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen018.svg-->
                            <!--<span class="svg-icon svg-icon-2 svg-icon-info">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor"></path>
                                    <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor"></path>
                                </svg>
                            </span>-->
                            <!--end::Svg Icon-->
                            <!--</div>-->
                            <!--end::Timeline icon-->
                            <!--begin::Timeline content-->
                            <!--<div class="timeline-content m-0">-->
                            <!--begin::Label-->
                            <!--<span class="fs-8 fw-bolder text-info text-uppercase">Receiver</span>-->
                            <!--begin::Label-->
                            <!--begin::Title-->
                            <!--<a href="#" class="fs-6 text-gray-800 fw-bold d-block text-hover-primary">케이솔루션즈</a>-->
                            <!--end::Title-->
                            <!--begin::Title-->
                            <!--<span class="fw-semibold text-gray-400">라이선스 등록완료 (2022-08-23)</span>-->
                            <!--end::Title-->
                            <!--</div>-->
                            <!--end::Timeline content-->
                            <!--</div>-->
                            <!--end::Timeline item-->
                            <!--</div>-->
                            <!--end::Timeline-->
                            <!--</div>-->
                            @*<div class="separator separator-dashed mt-5 mb-4"></div>*@




                        </div>
                        <!--end::Tap pane-->
                    </div>
                    <!--end::Tab Content-->
                </div>
                <!--end: Card Body-->
            </div>
            <!--end::List widget 16-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-8 mb-5 mb-xl-10">
            <!--begin::Chart widget 32-->
            <div class="card card-flush h-xl-100">
                <!--begin::Header-->
                <div class="card-header pt-7 mb-3">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-800">연도 별 라이선스 등록현황</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6">Total <span id="totalRegisterCnt" style="color: #377ce3; font-weight: 800;">-</span> Register</span>
                    </h3>
                    <!--end::Title-->
                    <!--begin::Toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
                        <select id="selYear" class="form-select form-select-solid form-select-lg fw-semibold">
                        </select>
                        <!--end::Daterangepicker-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body d-flex flex-column justify-content-between pb-5 px-0">
                    <!--begin::Tab Content-->
                    <div class="tab-content ps-4 pe-6">
                        <!--begin::Tap pane-->
                        <div class="tab-pane fade active show" id="kt_charts_widget_32_tab_content_1" role="tabpanel" aria-labelledby="#kt_charts_widget_32_tab_1">
                            <div id="chart2" class="min-h-auto" style="height: 420px; margin-top: 38px; min-height: 420px;">

                            </div>
                            <!--begin::Chart-->
                            <!--<div id="kt_charts_widget_32_chart_1" class="min-h-auto" style="height: 420px; margin-top: 45px; min-height: 420px;">
                            </div>-->
                            <!--end::Chart-->
                        </div>
                        <!--end::Tap pane-->
                    </div>
                    <!--end::Tab Content-->
                </div>
                <!--end: Card Body-->
            </div>
            <!--end::Chart widget 32-->
        </div>
        <!--end::Col-->
    </div>

    <div class="row gy-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-xl-12 mb-xl-12">
            <div class="card">
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <span class="card-label fw-bold text-gray-800">공지사항</span>
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <!--begin::Add user-->
                            <button type="button" class="btn btn-primary" onclick="OpenCreateModal()">
                                공지등록
                            </button>
                            <!--end::Add user-->
                        </div>
                        <!--end::Toolbar-->
                    </div>
                </div>
                <div class="card-body py-4">
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="tblNotice">
                        <thead>
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase">
                                <th class="min-w-30px" style="text-align: center; padding-right: 28px; ">번호</th>
                                <th class="min-w-200px">제목</th>
                                <th class="min-w-70px">작성자</th>
                                <th class="min-w-100px">등록일</th>
                                <th class="text-end min-w-100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="tbodyNotice text-gray-600 fw-semibold">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end::Col-->
    </div>

</div>






<!--begin::Modal - 공지사항-->
<div class="modal fade" id="NoticeModal" tabindex="-1" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_user_header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">공지사항정보</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form id="kt_modal_add_user_form" class="form" action="#">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">

                        <div class="row">
                            <!--begin::Input group-->
                            <div class="col-lg-12 fv-row mb-7">
                                <!--begin::Switch-->
                                <div class="form-check form-switch form-check-custom form-check-solid" style=" float: right !important;">
                                    <input class="form-check-input" type="checkbox" value="" id="allowFixed"  style="width: 54px;" />
                                    <label class="form-check-label fw-semibold text-gray-400 ms-3" for="allowFixed">게시글 고정</label>
                                </div>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="row">
                            <!--begin::Input group-->
                            <div class="col-lg-6 fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fw-semibold fs-6 mb-2">작성자</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" id="txtUserName" class="form-control form-control-solid mb-3 mb-lg-0" readonly="readonly" style="text-align: center;" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="col-lg-6 fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fw-semibold fs-6 mb-2">등록일</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" id="txtCreateDate" class="form-control form-control-solid mb-3 mb-lg-0" readonly="readonly" style="text-align: center;" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="row">
                            <!--begin::Input group-->
                            <div class="col-lg-12 fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">제목</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" id="txtTitle" class="form-control form-control-solid mb-3 mb-lg-0" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                        </div>

                        <!--begin::Input group-->
                        <div class="fv-row">
                            <!--begin::Label-->
                            <label class="fw-semibold fs-6 mb-2">공지내용</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <textarea id="txtContents" name="txtReamrk" class="form-control form-control-solid mb-3 mb-lg-0" rows="7"></textarea>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->

                    </div>
                    <!--end::Scroll-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="button" id="btnCreate" class="btn btn-primary" onclick="Create()">
                            <span class="indicator-label">저장</span>
                        </button>
                        <button type="button" id="btnClose" class="btn btn-light me-3" data-bs-dismiss="modal" style="margin-left: 60px;">닫기</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - 공지사항-->